.dropdown-item {
  display: flex;
  align-items: center;
  height: 60px;
}

.dropdown-item img {
  height: 50px;
  margin-right: 10px;
}
.modal {
  display: flex !important;
  opacity: 0;
  transition: opacity 0.3s ease-in;
}
.modal.is-active {
  opacity: 1;
}
